<header id="header" style="padding-bottom:50px; background-color:rgba(238, 237, 237, 0.87)" >
    {{!-- background-color:ghostwhite --}}
    <nav class="navbar" >
        <div class="logo" >
            <a href="/">
                {{!-- <img style="max-width:150px; " src="images/logo.png"> --}}
                <h3 style="font-weight:bold;color:rgb(85, 80, 80);font-style:italic;text-transform:uppercase;">Adeptize</h3>
             </a>
        </div>
        
        {{!-- For desktop View 
        <ul class="desktop-list " style="margin-top: 0.75rem;">
            <li><a href="/home">Labours</a></li>
            <li><a href="/animals">Animals</a></li>
            <li><a href="/buyorsell">Buy/Sell</a></li>
            <li><a href="/members">Matrimony</a></li>
            <li><a href="/job">Job</a></li>
            

            
            
           
        </ul>
        --}}

        {{!-- For Mobile View 
        <ul class="mobile-list">
            <li>
                <a style="text-align:center;color:#2D79B3" href="/home">
                    <i class="material-icons link ">
                        home
                        <div class="menu-items" style="font-size:x-small">
                            LABOURS
                        </div>
                    </i>
                </a>
            </li>
            <li>
                <a style="text-align:center;color:#2D79B3" href="/animals">
                    <i class="material-icons link">
                        grid_view
                        <div class="menu-items" style="font-size:x-small;visibility:visible">
                            ANIMALS
                        </div>
                    </i>
                </a>
            </li>
            <li>
                <a style="text-align:center;color:#2D79B3" href="/buyorsell">
                    <i class="material-icons link">
                        groups_2
                        <div class="menu-items" style="font-size:x-small">
                            BUY/SELL
                        </div>
                    </i>
                </a>
            </li>
            <li>
                <a style="text-align:center;color:#2D79B3" href="/members">
                    <i class="material-icons">
                        notifications
                        <div class="menu-items" style="font-size:x-small">
                            MATRIMONY
                        </div>
                    </i>
                </a>
            </li>
            <li>
                <a style="text-align:center; ;color:#2D79B3 " href="/job">
                    <i class="material-icons">
                        feed
                        <div class="menu-items" style="font-size:x-small;">
                            JOB
                        </div>
                    </i>
                </a>
            </li>
        </ul>
        
    </nav>
    --}}
    <div class="transparent  " style="position:fixed;display: flex;z-index:1;margin-left:0 ">
       
        <a href="/">
                {{!-- <img style="max-width:150px; " src="images/logo.png"> --}}
                <h3 style="font-weight:bold;color:rgb(85, 80, 80);padding-top:4.5rem;font-style:italic;text-transform:uppercase;">Adeptize</h3>
                
        </a>
        
    </div>
   
    
    
    
</header>



