<section id="add-profile" style="padding-bottom:70px; background-color:ghostwhite">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{!-- Heading--}}
                {{!-- <h1 style="text-decoration:none">Add Profile</h1> --}}
                <input type="text" style="width:100%; height:40px; font-size:30px;padding:0 ;text-align:center"
                    class="form-control" name="name" value="Add Profile" disabled>


            </div>
        </div>
        <div class="row">


            {{!-- For detailed Profile information --}}
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">

                        <form action="" enctype="multipart/form-data" method="post">
                            {{!-- Name --}}

                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Full Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="name" id="name"
                                        placeholder="Enter your Full Name">
                                </div>
                            </div>
                            {{!-- House name --}}

                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">House Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="house" id="house"
                                        placeholder="Enter your House Name">
                                </div>
                            </div>
                            {{!-- Place --}}

                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Place</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="place" id="place"
                                        placeholder="Enter your place">
                                </div>
                            </div>
                            {{!-- Panchayath --}}

                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Panchayath</label>
                                <div class="col-sm-9">
                                    <select type="text" class="form-control" name="panchayath" id="panchayath" value="">
                                        <option value="Thiruvallur">Thiruvallur</option>
                                        <option value="Maniyur">Maniyur</option>
                                        <option value="Velam">Velam</option>

                                    </select>
                                </div>
                            </div>
                            {{!-- mobile --}}

                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Mobile no</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="mobile" id="mobile"
                                        placeholder="Enter your Mobile no">
                                </div>
                            </div>
                            {{!-- job --}}

                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Job</label>
                                <div class="col-sm-9">
                                    <select type="text" class="form-control" name="job" id="job" value="">
                                        <option value="Thiruvallur">Driver</option>
                                        <option value="Maniyur">Electrician</option>
                                        <option value="Velam">Plumber</option>
                                        <option value="Velam">Mason</option>
                                        <option value="Velam">Plastering</option>
                                        <option value="Velam">Tile Fixing</option>
                                        <option value="Velam">Welder</option>
                                        <option value="Velam">Carpenter</option>
                                        <option value="Velam">Technician</option>
                                        <option value="Velam">Farm Worker</option>
                                        <option value="Velam">Congrete</option>
                                        <option value="Velam">Landscape</option>
                                        <option value="Velam">Gypsum Work</option>
                                        <option value="Velam">Cook</option>
                                        <option value="Velam">Home Maid</option>
                                        <option value="Velam">Painter</option>
                                        <option value="Velam">Curtain</option>
                                        <option value="Velam">Fabrication</option>
                                        <option value="Velam">Water Proof</option>
                                        <option value="Velam">Airconditioning</option>
                                        <option value="Velam">Teacher</option>




                                    </select>
                                </div>
                            </div>
                            {{!-- Job Category --}}

                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Job Category</label>
                                <div class="col-sm-9">
                                    <select type="text" class="form-control" name="category" id="category" value="">
                                        <option value="Thiruvallur">Thiruvallur</option>
                                        <option value="Maniyur">Maniyur</option>
                                        <option value="Velam">Velam</option>

                                    </select>
                                </div>
                            </div>

                            {{!-- Image --}}

                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Image </label>
                                <div class="col-sm-9">
                                    <input type="file" class="form-control" name="image">
                                </div>
                            </div>

                            {{!-- Dropdown Job --}}
                            
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




{{!--
<script type="text/javascript">
    function dobcheck() {
        var birth = document.getElementById('bday')
        if (birth != "") {

            var record = document.getElementById('bday').value.trim();
            var currentdate = new Date();
            var day1 = currentdate3.getDate();
            var month1 = currentdate3.getMonth();
            month1++;
            var year11 = currentdate3.getFullYear() - 17;
            var year2 = currentdate3.getFullYear() - 100;
            var record_day1 = record.split("/");
            var sum = record_day1[1] + '/' + record_day1[0] + '/' + record_day1[2];
            var current = month1 + '/' + day1 + '/' + year11;
            var current1 = month1 + '/' + day1 + '/' + year2;
            var d1 = new Date(current)
            var d2 = new Date(current1)
            var record1 = new Date(sum);
            if (record1 > d1) {

                alert("Sorry ! Minors need parential guidance to use this website");
                document.getElementById('bday').blur();
                document.getElementById('bday').value = "";
                document.getElementById('bday').focus();
                return false;
            }
        }
    }
</script> --}}