
<section class="bg-light pt-2" id="animals" style="padding-bottom:70px;">
    <div class="container">
        <div class="row p-2"  style="font-size:small ;">
             <a class="topright btn btn-secondary btn-lg active fa fa-plus " href="/add-animal" >Add Animal</a>
            
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 "  onclick="location.href=('/animal-profile?category=cow')">
                    <img src="images/cow.jpeg" alt="Avatar">
                    <p >Cow</p>
                    <p></p>
                </div>

            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 " onclick="location.href=('/animal-profile?category=goat')">
                    <img src="images/goat.jpeg" alt="Avatar">
                    <p>Goat</p>
                    <p></p>
                </div>

            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 " onclick="location.href=('/animal-profile?category=cat')">
                    <img src="images/cat2.jpg" alt="Avatar">
                    <p>Cat</p>
                    <p></p>
                </div>

            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 " onclick="location.href=('/animal-profile?category=hen')">
                    <img src="images/hen.jpeg" alt="Avatar">
                    <p>Hen</p>
                    <p></p>
                </div>

            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 " onclick="location.href=('/animal-profile?category=fish')">
                    <img src="images/tile2.jpg" alt="Avatar">
                    <p>Fish</p>
                    <p></p>
                </div>

            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 " onclick="location.href=('/animal-profile?category=rabbit')">
                    <img src="images/rabbit.jpeg" alt="Avatar">
                    <p>Rabbit</p>
                    <p></p>
                </div>
            </div>
            


        </div>
    </div>
</section>

<script>
     
</script>