<section class="bg-light pt-2" id="buyorsell" style="padding-bottom:70px;">
    <div class="container">
        <div class="row p-1">
            <div class="col-sm-3 col-6 col-md-2 p-1">
                <div class="card pb-2 " onclick="location.href='/buy-details'">
                    <img src="images/car2.jpg" alt="Avatar">
                    <h5>Rs.1800000</h5>
                    <p>Innova Crysta</p>
                    <a>Tirur</a>
                </div>

            </div>
            <div class="col-sm-3 col-6 col-md-2 p-1">
                <div class="card pb-2 " onclick="location.href='/buy-details'">
                    <img src="images/bike7.jpg" alt="Avatar">
                    <h5>Rs.840000</h5>
                    <p>Royal Enfield</p>
                    <a>Vadakara</a>
                </div>

            </div>
            <div class="col-sm-3 col-6 col-md-2 p-1">
                <div class="card pb-2 " onclick="location.href='/buy-details'">
                    <img src="images/bike8.jpeg" alt="Avatar">
                    <h5>Rs.960000</h5>
                    <p>Bullet</p>
                    <a>Ayanjeri</a>
                </div>

            </div>
            <div class="col-sm-3 col-6 col-md-2 p-1">
                <div class="card pb-2 " onclick="location.href='/buy-details'">
                    <img src="images/cat2.jpg" alt="Avatar">
                    <h5>Rs.8000</h5>
                    <p>Persian Cat</p>
                    <a>Kuttyadi</a>
                </div>

            </div>
            <div class="col-sm-3 col-6 col-md-2 p-1">
                <div class="card pb-2 " onclick="location.href='/buy-details'">
                    <img src="images/rabbit.jpeg" alt="Avatar">
                    <h5>Rs.2000</h5>
                    <p>Rabbit</p>
                    <a>Wayanad</a>
                </div>

            </div>
            <div class="col-sm-3 col-6 col-md-2 p-1">
                <div class="card pb-2 " onclick="location.href='/buy-details'">
                    <img src="images/pigeon.jpeg" alt="Avatar">
                    <h5>Rs.1500</h5>
                    <p>Pigeon</p>
                    <a>Kadameri</a>
                </div>

            </div>
            <div class="col-sm-3 col-6 col-md-2 p-1">
                <div class="card pb-2 " onclick="location.href='/buy-details'">
                    <img src="images/phone1.jpg" alt="Avatar">
                    <h5>Rs.156900</h5>
                    <p>Iphone 13 pro</p>
                    <a>Calicut</a>
                </div>
                

            </div>
            
        </div>
    </div>
</section>