<section class="bg-light pt-2" id="home" style="padding-bottom:70px;">
    <div class="container">
        <div class="row p-1">
            <div class="col-sm-3 col-4 col-md-2 p-1">
                <div class="card pb-2 " onclick="location.href='/profile'">
                    <img src="images/cow.jpeg" alt="Avatar">
                    <p>Cow</p>
                    <p></p>
                </div>

            </div>
            <div class="col-sm-3 col-4 col-md-2 p-1">
                <div class="card pb-2 " onclick="location.href='/profile'">
                    <img src="images/goat.jpeg" alt="Avatar">
                    <p>Goat</p>
                    <p></p>
                </div>

            </div>
            <div class="col-sm-3 col-4 col-md-2 p-1">
                <div class="card pb-2 " onclick="location.href='/profile'">
                    <img src="images/hen.jpeg" alt="Avatar">
                    <p>Hen</p>
                    <p></p>
                </div>

            </div>
            <div class="col-sm-3 col-4 col-md-2 p-1">
                <div class="card pb-2 " onclick="location.href='/profile'">
                    <img src="images/cat.jpeg" alt="Avatar">
                    <p>Cat</p>
                    <p></p>
                </div>

            </div>
            <div class="col-sm-3 col-4 col-md-2 p-1">
                <div class="card pb-2 " onclick="location.href='/profile'">
                    <img src="images/rabbit.jpeg" alt="Avatar">
                    <p>Rabbit</p>
                    <p></p>
                </div>

            </div>
            <div class="col-sm-3 col-4 col-md-2 p-1">
                <div class="card pb-2 " onclick="location.href='/profile'">
                    <img src="images/pigeon.jpeg" alt="Avatar">
                    <p>Pigeon</p>
                    <p></p>
                </div>

            </div>
            








        </div>
    </div>
</section>