<section class="bg-light pt-2" id="vehicle" style="padding-bottom:70px; ">
    <div class="container">
        <div class="row p-2"  style="font-size:small ; ">
             <div style="padding-top:4.5rem;">
             <a class="topright btn btn-secondary btn-lg active fa fa-plus "  href="/add-profile" >Add Profile</a>
             </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 "  onclick="location.href=('/subprofile?job=1&category=autorikshaw')" >
                    <img src="images/autorikshaw2.jpg" alt="Avatar">
                    <p>Auto Rikshaw</p>
                    <p>ഓട്ടോ റിക്ഷ</p>
                </div>

            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 " onclick="location.href=('/subprofile?job=1&category=jeep')">
                    <img src="images/jeep2.jpg" alt="Avatar">
                    <p>Jeep</p>
                    <p>ജീപ്പ്</p>
                </div>

            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 " onclick="location.href=('/subprofile?job=1&category=pickup')">
                    <img src="images/pickup2.jpg" alt="Avatar">
                    <p>Pickup</p>
                    <p>പിക്കപ്പ്</p>
                </div>

            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 " onclick="location.href=('/subprofile?job=1&category=lorry')">
                    <img src="images/lorry.jpg" alt="Avatar">
                    <p>Lorry</p>
                    <p>ലോറി</p>
                </div>

            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 " onclick="location.href=('/subprofile?job=1&category=ambulance')">
                    <img src="images/Ambulance.jpg" alt="Avatar">
                    <p>Ambulance</p>
                    <p>ആംബുലൻസ്</p>
                </div>

            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 " onclick="location.href=('/subprofile?job=1&category=tourist-bus')">
                    <img src="images/tourist-bus2.jpg" alt="Avatar">
                    <p>Tourist Bus</p>
                    <p>ടൂറിസ്റ്റ് ബസ് </p>
                </div>

            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 " onclick="location.href=('/subprofile?job=1&category=traveller')">
                    <img src="images/traveller.png" alt="Avatar">
                    <p>Traveller</p>
                    <p>ട്രാവലർ</p>
                </div>
            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 " onclick="location.href=('/subprofile?job=1&category=taxi')">
                    <img src="images/taxi.png" alt="Avatar">
                    <p>Taxi</p>
                    <p>ടാക്സി </p>
                </div>
            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 " onclick="location.href=('/subprofile?job=1&category=jcb')">
                    <img src="images/jcb.jpg" alt="Avatar">
                    <p>JCB</p>
                    <p>ജെ സി ബി  </p>
                </div>
            </div>
            

        </div>
    </div>
</section>