<section class=" row bg-light pt-2" id="driver" style="padding-bottom:70px; padding-left: 5rem; ">

    <div class="card" style="width: 11rem; height:16rem; margin-left: 2rem;" onclick="location.href='/profile'">
  <img class="card-img-top" src="images/autorikshaw.jpeg" alt="Card image cap">
  <div class="card-body" style="padding-top: 0.5rem; padding-left: 1rem;">
    <h5 class="card-title">Auto Riksha</h5>
    <h5 class="card-title">ഓട്ടോ റിക്ഷ</h5>
  </div>
</div>

 <div class="card" style="width: 11rem; height:16rem; margin-left: 2rem;" onclick="location.href='/jeep'">
  <img class="card-img-top" src="https://swastikfabs.in/image/cache/Manufacturers/Categories/Category%20Vehicle%20Images/Mahindra%20Thar-360x300h.jpg.webp" alt="Card image cap">
  <div class="card-body" style="padding-top: 0.5rem; padding-left: 1rem;">
    <h5 class="card-title">Jeep</h5>
    <h5 class="card-title">ജീപ്പ്</h5>
  </div>
</div>

 <div class="card" style="width: 11rem; height:16rem; margin-left: 2rem;" onclick="location.href='/profile'">
  <img class="card-img-top" src="images/autorikshaw.jpeg" alt="Card image cap">
  <div class="card-body" style="padding-top: 0.5rem; padding-left: 1rem;">
    <h5 class="card-title">Auto Riksha</h5>
    <h5 class="card-title">Auto Riksha</h5>
  </div>
</div>

 <div class="card" style="width: 11rem; height:16rem; margin-left: 2rem;" onclick="location.href='/profile'">
  <img class="card-img-top" src="images/autorikshaw.jpeg" alt="Card image cap">
  <div class="card-body" style="padding-top: 0.5rem; padding-left: 1rem;">
    <h5 class="card-title">Auto Riksha</h5>
    <h5 class="card-title">Auto Riksha</h5>
  </div>
</div>

 <div class="card" style="width: 11rem; height:16rem; margin-left: 2rem;" onclick="location.href='/profile'">
  <img class="card-img-top" src="images/autorikshaw.jpeg" alt="Card image cap">
  <div class="card-body" style="padding-top: 0.5rem; padding-left: 1rem;">
    <h5 class="card-title">Auto Riksha</h5>
    <h5 class="card-title">Auto Riksha</h5>
  </div>
</div>

 <div class="card" style="width: 11rem; height:16rem; margin-left: 2rem;" onclick="location.href='/profile'">
  <img class="card-img-top" src="images/autorikshaw.jpeg" alt="Card image cap">
  <div class="card-body" style="padding-top: 0.5rem; padding-left: 1rem;">
    <h5 class="card-title">Auto Riksha</h5>
    <h5 class="card-title">Auto Riksha</h5>
  </div>
</div>

 <div class="card" style="width: 11rem; height:16rem; margin-left: 2rem; margin-top: 2rem;" onclick="location.href='/profile'">
  <img class="card-img-top" src="images/autorikshaw.jpeg" alt="Card image cap">
  <div class="card-body" style="padding-top: 0.5rem; padding-left: 1rem;">
    <h5 class="card-title">Auto Riksha</h5>
    <h5 class="card-title">Auto Riksha</h5>
  </div>
</div>

 <div class="card" style="width: 11rem; height:16rem; margin-left: 2rem; margin-top: 2rem;" onclick="location.href='/profile'">
  <img class="card-img-top" src="images/autorikshaw.jpeg" alt="Card image cap">
  <div class="card-body" style="padding-top: 0.5rem; padding-left: 1rem;">
    <h5 class="card-title">Auto Riksha</h5>
    <h5 class="card-title">Auto Riksha</h5>
  </div>
</div>

 <div class="card" style="width: 11rem; height:16rem; margin-left: 2rem; margin-top: 2rem;" onclick="location.href='/profile'">
  <img class="card-img-top" src="images/autorikshaw.jpeg" alt="Card image cap">
  <div class="card-body" style="padding-top: 0.5rem; padding-left: 1rem;">
    <h5 class="card-title">Auto Riksha</h5>
    <h5 class="card-title">Auto Riksha</h5>
  </div>
</div>

 <div class="card" style="width: 11rem; height:16rem; margin-left: 2rem; margin-top: 2rem;" onclick="location.href='/profile'">
  <img class="card-img-top" src="images/autorikshaw.jpeg" alt="Card image cap">
  <div class="card-body" style="padding-top: 0.5rem; padding-left: 1rem;">
    <h5 class="card-title">Auto Riksha</h5>
    <h5 class="card-title">Auto Riksha</h5>
  </div>
</div>

 <div class="card" style="width: 11rem; height:16rem; margin-left: 2rem; margin-top: 2rem;" onclick="location.href='/profile'">
  <img class="card-img-top" src="images/autorikshaw.jpeg" alt="Card image cap">
  <div class="card-body" style="padding-top: 0.5rem; padding-left: 1rem;">
    <h5 class="card-title">Auto Riksha</h5>
    <h5 class="card-title">Auto Riksha</h5>
  </div>
</div>

 <div class="card" style="width: 11rem; height:16rem; margin-left: 2rem; margin-top: 2rem;" onclick="location.href='/profile'">
  <img class="card-img-top" src="images/autorikshaw.jpeg" alt="Card image cap">
  <div class="card-body" style="padding-top: 0.5rem; padding-left: 1rem;">
    <h5 class="card-title">Auto Riksha</h5>
    <h5 class="card-title">Auto Riksha</h5>
  </div>
</div>
</section>