<section class="bg-light pt-2" id="driver" style="padding-bottom:70px;">
    <div class="container">
        <div class="row p-2">
            <div class="col-sm-3 col-12 col-md-4 p-2">
                <div class="card pb-2 " onclick="location.href='/profile'">
                    <div class="row">
                        <div class="col-5 col-md-5">
                            
                                <img src="images/profile-1.png" alt="Avatar">
                           

                        </div>
                        <div class="col-7 col-md-7">
                            <p style="font-weight:bold ;padding-top:2px">Majeed Komath</p> 
                          <p >Shanthinagar</p><br><br><br><br>
                          <p style="font-weight:bold ;padding-bottom:2px">9745580686</p>
                        </div>
                    </div>
                    {{!--
                    <p>Driver</p>
                    <p>ഡ്രൈവർ</p> --}}
                </div>

            </div>








        </div>
    </div>
</section>