<section class=" row bg-light pt-2" id="driver" style="padding-bottom:70px; padding-left: 5rem; ">

    <div class="card" style="width: 11rem; height:16rem; margin-left: 2rem;" onclick="location.href='/profile'">
  <img class="card-img-top" style="padding-left: 1rem; padding-top: 1rem; padding-right: 1rem;" src="images/autorikshaw.jpeg" alt="Card image cap">
  <div class="card-body" style="padding-top: 0.5rem; padding-left: 1rem;">
    <h5 class="card-title">Auto Riksha</h5>
    <h5 class="card-title">ഓട്ടോ റിക്ഷ</h5>
  </div>
</div>

 <div class="card" style="width: 11rem; height:16rem; margin-left: 2rem;" onclick="location.href='/jeep'">
  <img class="card-img-top" style="padding-left: 1rem; padding-top: 1rem; padding-right: 1rem;"src="https://swastikfabs.in/image/cache/Manufacturers/Categories/Category%20Vehicle%20Images/Mahindra%20Thar-360x300h.jpg.webp" alt="Card image cap">
  <div class="card-body" style="padding-top: 0.5rem; padding-left: 1rem;">
    <h5 class="card-title">Jeep</h5>
    <h5 class="card-title">ജീപ്പ്</h5>
  </div>
</div>

 <div class="card" style="width: 11rem; height:16rem; margin-left: 2rem;" onclick="location.href='/profile'">
  <img class="card-img-top" style="padding-left: 1rem; padding-top: 1rem; padding-right: 1rem;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2oxBgyH04eQ7RYCZIrLUtn8lp47AClInaxA&usqp=CAU" alt="Card image cap">
  <div class="card-body" style="padding-top: 0.5rem; padding-left: 1rem;">
    <h5 class="card-title">Taxi</h5>
    <h5 class="card-title">ടാക്സി</h5>
  </div>
</div>

 <div class="card" style="width: 11rem; height:16rem; margin-left: 2rem;" onclick="location.href='/profile'">
  <img class="card-img-top" style="padding-left: 1rem; padding-top: 1rem; padding-right: 1rem;" src="images/pickup.jpg" alt="Card image cap">
  <div class="card-body" style="padding-top: 0.5rem; padding-left: 1rem;">
    <h5 class="card-title">Pickup</h5>
    <h5 class="card-title">പിക്കപ്പ് </h5>
  </div>
</div>

 <div class="card" style="width: 11rem; height:16rem; margin-left: 2rem;" onclick="location.href='/profile'">
  <img class="card-img-top" style="padding-left: 1rem; padding-top: 1rem; padding-right: 1rem;" src="images/lorry.jpg" alt="Card image cap">
  <div class="card-body" style="padding-top: 0.5rem; padding-left: 1rem;">
    <h5 class="card-title">Lorry</h5>
    <h5 class="card-title">ലോറി </h5>
  </div>
</div>

 <div class="card" style="width: 11rem; height:16rem; margin-left: 2rem;" onclick="location.href='/profile'">
  <img class="card-img-top" style="padding-left: 1rem; padding-top: 1rem; padding-right: 1rem;" src="images/Ambulance.jpg" alt="Card image cap">
  <div class="card-body" style="padding-top: 0.5rem; padding-left: 1rem;">
    <h5 class="card-title">Ambulance</h5>
    <h5 class="card-title">ആംബുലൻസ് </h5>
  </div>
</div>

 <div class="card" style="width: 11rem; height:16rem; margin-left: 2rem; margin-top: 2rem;" onclick="location.href='/profile'">
  <img class="card-img-top" style="padding-left: 1rem; padding-top: 1rem; padding-right: 1rem;" src="https://www.thrissurcab.in/images/vehicles/tourist-bus-35-seater2.jpg" alt="Card image cap">
  <div class="card-body" style="padding-top: 0.5rem; padding-left: 1rem;">
    <h5 class="card-title">Tourist Bus</h5>
    <h5 class="card-title">ടൂറിസ്റ്റ് ബസ്  </h5>
  </div>
</div>

 <div class="card" style="width: 11rem; height:16rem; margin-left: 2rem; margin-top: 2rem;" onclick="location.href='/profile'">
  <img class="card-img-top" style="padding-left: 1rem; padding-top: 1rem; padding-right: 1rem;" src="images/traveller.png" alt="Card image cap">
  <div class="card-body" style="padding-top: 0.5rem; padding-left: 1rem;">
    <h5 class="card-title">Traveller</h5>
    <h5 class="card-title">ട്രാവലർ  </h5>
  </div>
</div>

 <div class="card" style="width: 11rem; height:16rem; margin-left: 2rem; margin-top: 2rem;" onclick="location.href='/profile'">
  <img class="card-img-top" style="padding-left: 1rem; padding-top: 1rem; padding-right: 1rem;" src="images/autorikshaw.jpeg" alt="Card image cap">
  <div class="card-body" style="padding-top: 0.5rem; padding-left: 1rem;">
    <h5 class="card-title">Auto Riksha</h5>
    <h5 class="card-title">Auto Riksha</h5>
  </div>
</div>

 <div class="card" style="width: 11rem; height:16rem; margin-left: 2rem; margin-top: 2rem;" onclick="location.href='/profile'">
  <img class="card-img-top" style="padding-left: 1rem; padding-top: 1rem; padding-right: 1rem;" src="images/autorikshaw.jpeg" alt="Card image cap">
  <div class="card-body" style="padding-top: 0.5rem; padding-left: 1rem;">
    <h5 class="card-title">Auto Riksha</h5>
    <h5 class="card-title">Auto Riksha</h5>
  </div>
</div>

 <div class="card" style="width: 11rem; height:16rem; margin-left: 2rem; margin-top: 2rem;" onclick="location.href='/profile'">
  <img class="card-img-top" style="padding-left: 1rem; padding-top: 1rem; padding-right: 1rem;" src="images/autorikshaw.jpeg" alt="Card image cap">
  <div class="card-body" style="padding-top: 0.5rem; padding-left: 1rem;">
    <h5 class="card-title">Auto Riksha</h5>
    <h5 class="card-title">Auto Riksha</h5>
  </div>
</div>

 <div class="card" style="width: 11rem; height:16rem; margin-left: 2rem; margin-top: 2rem;" onclick="location.href='/profile'">
  <img class="card-img-top" style="padding-left: 1rem; padding-top: 1rem; padding-right: 1rem;" src="images/autorikshaw.jpeg" alt="Card image cap">
  <div class="card-body" style="padding-top: 0.5rem; padding-left: 1rem;">
    <h5 class="card-title">Auto Riksha</h5>
    <h5 class="card-title">Auto Riksha</h5>
  </div>
</div>
</section>