<section class="bg-light pt-2" id="home" style="padding-bottom:70px;">
    <div class="container">
        <div class="row p-2">
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 " onclick="location.href='/driver'">
                    <img src="images/Driver.jpeg" alt="Avatar">
                    <p>Driver</p>
                    <p>ഡ്രൈവർ</p>
                </div>

            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 " onclick="location.href='/driver'">
                    <img src="images/Electrician.jpeg" alt="Avatar">
                    <p>Electrician</p>
                    <p>ഇലക്ട്രീഷ്യൻ</p>
                </div>

            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 " onclick="location.href='/driver'">
                    <img src="images/plumber.jpeg" alt="Avatar">
                    <p>Plumber</p>
                    <p>പ്ലമ്പർ</p>
                </div>

            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 " onclick="location.href='/driver'">
                    <img src="images/Mason.jpeg" alt="Avatar">
                    <p>Mason</p>
                    <p>കല്പണിക്കാരൻ</p>
                </div>

            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 " onclick="location.href='/driver'">
                    <img src="images/plastering.jpg" alt="Avatar">
                    <p>Plastering</p>
                    <p>തേപ്പ്</p>
                </div>

            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 " onclick="location.href='/driver'">
                    <img src="images/tile-fixing.jpg" alt="Avatar">
                    <p>Tile Fixing</p>
                    <p>ടൈൽസ് പണി</p>
                </div>

            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 " onclick="location.href='/driver'">
                    <img src="images/welder.jpeg" alt="Avatar">
                    <p>Welder</p>
                    <p>വെൽഡർ</p>
                </div>
            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 " onclick="location.href='/driver'">
                    <img src="images/carpenter.jpg" alt="Avatar">
                    <p>Carpenter</p>
                    <p>കാർപെൻഡർ </p>
                </div>
            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 " onclick="location.href='/driver'">
                    <img src="images/technician.png" alt="Avatar">
                    <p>Technician</p>
                    <p>ടെക്‌നിഷ്യൻ </p>
                </div>
            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 " onclick="location.href='/driver'">
                    <img src="images/farm-worker.jpeg" alt="Avatar">
                    <p>Farm worker</p>
                    <p>കാർഷികപ്പണി</p>
                </div>
            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 " onclick="location.href='/driver'">
                    <img src="images/congrete.jpeg" alt="Avatar">
                    <p>Congrete</p>
                    <p>കോൺഗ്രീറ്റ്</p>
                </div>
            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 " onclick="location.href='/driver'">
                    <img src="images/landscape.jpeg" alt="Avatar">
                    <p>Landscape</p>
                    <p>ലാൻഡ്‌സ്‌കേപ്പ് </p>
                </div>
            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 " onclick="location.href='/driver'">
                    <img src="images/gypsum.jpeg" alt="Avatar">
                    <p>Gypsum work</p>
                    <p>ജിപ്സം വർക്ക്</p>
                </div>
            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 " onclick="location.href='/driver'">
                    <img src="images/cook.jpeg" alt="Avatar">
                    <p>Cook</p>
                    <p>പാചകക്കാർ</p>
                </div>
            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 " onclick="location.href='/driver'">
                    <img src="images/house-maid.jpg" alt="Avatar">
                    <p>Home maid</p>
                    <p>വീട്ടു വേല</p>
                </div>
            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 " onclick="location.href='/driver'">
                    <img src="images/painter.png" alt="Avatar">
                    <p>Painter</p>
                    <p>പൈൻെറർ</p>
                </div>
            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 " onclick="location.href='/driver'">
                    <img src="images/curtain.jpg" alt="Avatar">
                    <p>Curtain</p>
                    <p>കർട്ടൻ </p>
                </div>
            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 " onclick="location.href='/driver'">
                    <img src="images/Fabrication.webp" alt="Avatar">
                    <p>Fabrication</p>
                    <p>ഫാബ്രിക്കേഷൻ </p>
                </div>
            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 " onclick="location.href='/driver'">
                    <img src="images/water-proofing.jpg" alt="Avatar">
                    <p>Water Proof</p>
                    <p>വാട്ടർ പ്രൂഫ് </p>
                </div>
            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <div class="card pb-2 " onclick="location.href='/driver'">
                    <img src="images/air-conditioning.jpeg" alt="Avatar">
                    <p>Airconditioning</p>
                    <p>എയർ കണ്ടിഷൻ </p>
                </div>
            </div>









        </div>
    </div>
</section>