<section id="members" class="bg-light" style="padding-bottom:70px; background-color:ghostwhite; margin-left: rem;">
    <div class="container">
        <div class="row p-1">


            



            {{!-- MEMBER 1 --}}
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <img class="card-img-top" onclick="location.href='/member-details'"
                    style="border-radius: 20%; cursor: pointer;" src="images/profile-1.png" alt="">
                <p>Cristepher</p>
            </div>




            <div class="col-sm-3 col-4 col-md-2  p-2">
                <img class="card-img-top" src="images/profile-2.jpg" onclick="location.href='/member-details'" alt=""
                    style="border-radius: 20%; cursor: pointer;">
                <p>Cristepher</p>
            </div>





            <div class="col-sm-3 col-4 col-md-2  p-2">
                <img class="card-img-top" src="images/profile-3.jpg" onclick="location.href='/member-details'" alt=""
                    style="border-radius: 20%; cursor: pointer;">
                <p>Cristepher</p>
            </div>




            <div class="col-sm-3 col-4 col-md-2 p-2">
                <img class="card-img-top" src="images/profile-4.jpg" onclick="location.href='/member-details'" alt=""
                    style="border-radius: 20%; cursor: pointer;">
                <p>Cristepher</p>
            </div>


            <div class="col-sm-3 col-4 col-md-2 p-2">
                <img class="card-img-top" onclick="location.href='/member-details'"
                    style="border-radius: 20%; cursor: pointer;" src="images/profile-1.png" alt="">
                <p>Cristepher</p>
            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <img class="card-img-top" src="images/profile-2.jpg" onclick="location.href='/member-details'" alt=""
                    style="border-radius: 20%; cursor: pointer;">
                <p>Cristepher</p>
            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <img class="card-img-top" src="images/profile-3.jpg" onclick="location.href='/member-details'" alt=""
                    style="border-radius: 20%; cursor: pointer;">
                <p>Cristepher</p>
            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <img class="card-img-top" src="images/profile-4.jpg" onclick="location.href='/member-details'" alt=""
                    style="border-radius: 20%; cursor: pointer;">
                <p>Cristepher</p>
            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <img class="card-img-top" onclick="location.href='/member-details'"
                    style="border-radius: 20%; cursor: pointer;" src="images/profile-1.png" alt="">
                <p>Cristepher</p>
            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <img class="card-img-top" src="images/profile-2.jpg" onclick="location.href='/member-details'" alt=""
                    style="border-radius: 20%; cursor: pointer;">
                <p>Cristepher</p>
            </div>

            <div class="col-sm-3 col-4 col-md-2 p-2">
                <img class="card-img-top" src="images/profile-4.jpg" onclick="location.href='/member-details'" alt=""
                    style="border-radius: 20%; cursor: pointer;">
                <p>Cristepher</p>
            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <img class="card-img-top" onclick="location.href='/member-details'"
                    style="border-radius: 20%; cursor: pointer;" src="images/profile-1.png" alt="">
                <p>Cristepher</p>
            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <img class="card-img-top" src="images/profile-2.jpg" onclick="location.href='/member-details'" alt=""
                    style="border-radius: 20%; cursor: pointer;">
                <p>Cristepher</p>
            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <img class="card-img-top" src="images/profile-3.jpg" onclick="location.href='/member-details'" alt=""
                    style="border-radius: 20%; cursor: pointer;">
                <p>Cristepher</p>
            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <img class="card-img-top" src="images/profile-4.jpg" onclick="location.href='/member-details'" alt=""
                    style="border-radius: 20%; cursor: pointer;">
                <p>Cristepher</p>
            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <img class="card-img-top" onclick="location.href='/member-details'"
                    style="border-radius: 20%; cursor: pointer;" src="images/profile-1.png" alt="">
                <p>Cristepher</p>
            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <img class="card-img-top" src="images/profile-2.jpg" onclick="location.href='/member-details'" alt=""
                    style="border-radius: 20%; cursor: pointer;">
                <p>Cristepher</p>
            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <img class="card-img-top" src="images/profile-3.jpg" onclick="location.href='/member-details'" alt=""
                    style="border-radius: 20%; cursor: pointer;">
                <p>Cristepher</p>
            </div>
            <div class="col-sm-3 col-4 col-md-2 p-2">
                <img class="card-img-top" src="images/profile-4.jpg" onclick="location.href='/member-details'" alt=""
                    style="border-radius: 20%; cursor: pointer;">
                <p>Cristepher</p>
            </div>




        </div>
    </div>

    </div>
    </div>


</section>