<section id="members" class="bg-light" style="padding-bottom:70px; background-color:ghostwhite; margin-left: 5rem;">
    <!-- Team Start -->
   <div class="card" style = ""></div>
        <div class="card-body" >
     
        <div class="row members">
            {{!-- MEMBER 1 --}}
            <div class=" col-xs-4 p-2">
                <img class="card-img-top" onclick="location.href='/member-details'"  style="border-radius: 20%; cursor: pointer;" src="images/profile-1.png" alt="" >
                <p>Cristepher</p>
            </div>
             <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-2.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
             <div class="col-xs-4  p-2">
                <img class="card-img-top" src="images/profile-3.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
            <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-4.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
            <div class="col-xs-4 p-2">
                <img class="card-img-top" onclick="location.href='/member-details'"  style="border-radius: 20%; cursor: pointer;" src="images/profile-1.png" alt="" >
            </div>
             <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-2.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
             <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-3.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
            <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-4.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
            <div class="col-xs-4 p-2">
                <img class="card-img-top" onclick="location.href='/member-details'"  style="border-radius: 20%; cursor: pointer;" src="images/profile-1.png" alt="" >
            </div>
             <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-2.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
             <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-3.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
            <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-4.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
            <div class="col-xs-4 p-2">
                <img class="card-img-top" onclick="location.href='/member-details'"  style="border-radius: 20%; cursor: pointer;" src="images/profile-1.png" alt="" >
            </div>
             <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-2.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
             <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-3.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
            <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-4.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
            <div class="col-xs-4 p-2">
                <img class="card-img-top" onclick="location.href='/member-details'"  style="border-radius: 20%; cursor: pointer;" src="images/profile-1.png" alt="" >
            </div>
             <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-2.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
             <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-3.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
            <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-4.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
             <div class="col-xs-4 p-2">
                <img class="card-img-top" onclick="location.href='/member-details'"  style="border-radius: 20%; cursor: pointer;" src="images/profile-1.png" alt="" >
            </div>
             <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-2.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
             <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-3.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
            <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-4.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
            <div class="col-xs-4 p-2">
                <img class="card-img-top" onclick="location.href='/member-details'"  style="border-radius: 20%; cursor: pointer;" src="images/profile-1.png" alt="" >
            </div>
             <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-2.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
             <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-3.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
            <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-4.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
            <div class="col-xs-4 p-2">
                <img class="card-img-top" onclick="location.href='/member-details'"  style="border-radius: 20%; cursor: pointer;" src="images/profile-1.png" alt="" >
            </div>
             <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-2.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
             <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-3.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
            <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-4.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
            <div class="col-xs-4 p-2">
                <img class="card-img-top" onclick="location.href='/member-details'"  style="border-radius: 20%; cursor: pointer;" src="images/profile-1.png" alt="" >
            </div>
             <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-2.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
             <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-3.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
            <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-4.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
            <div class="col-xs-4 p-2">
                <img class="card-img-top" onclick="location.href='/member-details'"  style="border-radius: 20%; cursor: pointer;" src="images/profile-1.png" alt="" >
            </div>
             <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-2.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
             <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-3.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
            <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-4.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
             <div class="col-xs-4 p-2">
                <img class="card-img-top" onclick="location.href='/member-details'"  style="border-radius: 20%; cursor: pointer;" src="images/profile-1.png" alt="" >
            </div>
             <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-2.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
             <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-3.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
            <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-4.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
            <div class="col-xs-4 p-2">
                <img class="card-img-top" onclick="location.href='/member-details'"  style="border-radius: 20%; cursor: pointer;" src="images/profile-1.png" alt="" >
            </div>
             <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-2.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
             <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-3.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
            <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-4.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
            <div class="col-xs-4 p-2">
                <img class="card-img-top" onclick="location.href='/member-details'"  style="border-radius: 20%; cursor: pointer;" src="images/profile-1.png" alt="" >
            </div>
             <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-2.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
             <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-3.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
            <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-4.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
            <div class="col-xs-4 p-2">
                <img class="card-img-top" onclick="location.href='/member-details'"  style="border-radius: 20%; cursor: pointer;" src="images/profile-1.png" alt="" >
            </div>
             <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-2.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
             <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-3.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
            <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-4.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
            <div class="col-xs-4 p-2">
                <img class="card-img-top" onclick="location.href='/member-details'"  style="border-radius: 20%; cursor: pointer;" src="images/profile-1.png" alt="" >
            </div>
             <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-2.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
             <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-3.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
            <div class="col-xs-4 p-2">
                <img class="card-img-top" src="images/profile-4.jpg" onclick="location.href='/member-details'" alt="" style="border-radius: 20%; cursor: pointer;">
            </div>
                       
        </div>
    </div>

            </div>
        </div>


</section>