<section id="member-details" class="bg-light" style="padding-bottom:40px; background-color:ghostwhite">
    <!-- Team Start -->
    <div class="container  pb-3">
        <div class="row">
            {{!-- MEMBER 1 --}}
            <div class=" col-md-4 col-xs-6">
                <div class="team card position-relative overflow-hidden border-0 mb-4 bg-light">
                    <div class="pl-2" style="border: thin;border-color:#D31E3D ;">
                        <h4 class="nav-link p-0 m-0">James Thomas</h4>
                        <a class="nav-link p-0 m-0"  style="font-size:.8rem">Dubai, United Arab
                            Emirates</a>
                    </div>
                    <img class="card-img-top pt-3" src="images/profile-1.png" alt="" style="border-radius: 50%;">
                    <div class="topright pt-2 pr-2">

                        <i class="material-icons" style="font-size:2rem;color:green;">how_to_reg
                            <span class="tooltiptext p-2">VERIFIED MEMBER</span></i>
                        <i class="material-icons " style="font-size:2rem;color:goldenrod">local_police
                            <span class="tooltiptext p-2">ELITE MEMBER</span></i>
                        </i>
                        
                    </div>
                    <div class="card-body text-center p-0">
                        <div class="team-text d-flex flex-column justify-content-center"
                            style="border: thin;border-color:#D31E3D ">

                            <div class="row">
                                <div class="column mt-3"> <a href="#" class="link"><i class="material-icons"
                                            style="font-size:2rem;color:#D31E3D">favorite_border</i></a>
                                </div>
                                <div class="column mt-3"><a href="/chat" class="link"><i class="material-symbols-rounded"
                                            style="font-size:2rem;color:#D31E3D;">chat</i></a>
                                </div>
                                <div class="column p-1" style="color:#D31E3D">
                                    <h3>28Y</h3>
                                </div>
                                {{!-- <div class="column mt-3"><a href="/profile" class="link">
                                    <i class="material-symbols-rounded"
                                        style="font-size:2rem;color:#D31E3D;">info
                                    </i> </a>
                                    
                                </div> --}}
                            </div>
                            {{!-- <p style="display:inline">Verified</p> --}}
                            {{!-- <i class="material-icons" style="display:inline">place</i> --}}
                        </div>
                    </div>
                </div>
            </div>
           
           {{!-- member details --}}

            <div class="col-md-8">
                <div class="card">
                    <div class="card-body pt-0">
                        {{!-- edit button --}}

                        
                        {{!-- end of edit button --}}
                        <form action="" enctype="multipart/form-data" method="post">
                            {{!-- Name --}}
                            {{!-- <input type="text" style="width:100%; height:40px; font-size:30px;padding:0" disabled
                                class="form-control" name="name" value="James Thomas">
                            <br> --}}
                            {{!-- Date of Birth --}}
                            {{!-- <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Age</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="bday" id="bday" value="32" disabled>
                                   
                                </div>
                            </div> --}}
                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Height</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="height" value="175 cm" disabled>
                                </div>
                               
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Body Type</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="body-type" value="Slim" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Hair</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="hair" value="Greyish" disabled>
                                </div>
                            </div>
                            {{!-- Gender --}}
                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Gender</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="gender" value="Male" disabled>
                                </div>
                            </div>

                            {{!-- <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Country</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="country"
                                        value="United States of America" disabled>
                                </div>
                            </div> --}}
                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">State</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="state" value="Dubai" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">City</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="city" value="Dubai" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Nationality</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="nation" value="American" disabled>
                                </div>
                            </div>
                            
                            {{!--Preferred Break Locations --}}
                            <div class="form-group row">
                                <label for="" class="col-sm-12 col-form-label"
                                    style="text-decoration: underline">Preferred Break Locations</label>

                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Country</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="break-country"
                                        value="United Arab Emirates" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">State</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="break-state" value="Dubai" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">City</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="break-city" value="Dubai" disabled>
                                </div>
                            </div>
                            {{!-- about --}}
                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">About me</label>

                                <div class="col-sm-9">
                                    <textarea class="form-control" rows="3" name="about"
                                        disabled>oijojoj gofjgoijo vcocjojed ew at e t werwt tr  tdtya dggfpf pdkpdkp  od dhpjh pojk gpokd pgjkpgkphk posf sdffphkpdphkp khfpfhk p hkph kp kpkf </textarea>
                                </div>
                            </div>
                            {{!-- notifications --}}
                            {{!-- <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Notifications</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="notifications" value="ON" disabled>
                                </div>
                            </div> --}}






                        </form>
                    </div>
                </div>
            </div>
        </div>

        {{!-- 10 pictures and 1 video optional --}}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        {{!-- 10 pictures --}}
                        <div class="form-group row">
                            <label for="" class="col-sm-12 col-form-label">Pictures</label>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3 p-3">
                                <img src="images/profile-1.png" id="imgView">
                            </div>
                            <div class="col-sm-3 p-3">
                                <img src="images/profile-3.jpg" id="imgView">
                            </div>
                            <div class="col-sm-3 p-3">
                                <img src="images/profile-1.png" id="imgView">
                            </div>
                            <div class="col-sm-3 p-3">
                                <img src="images/profile-3.jpg" id="imgView">
                            </div>
                        </div>

                        {{!-- video --}}
                        <div class="form-group row">
                            <label for="" class="col-sm-12 col-form-label">Video</label>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 p-3">
                                <video width="320" height="240" controls>
                                    <source src="videos/sample.mp4" type="video/mp4">
                                    {{!--
                                    <source src="movie.ogg" type="video/ogg"> --}}
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{!--  --}}
            


        </div>
    </div>

    <!-- Team End -->
    


</section>