<section id="profile-visitors" class="bg-light" style="padding-bottom:70px; background-color:ghostwhite">
    <!-- Team Start -->
    <div class="card" style=""></div>
    <div class="card-body" style="padding:2rem;">
        <h2 style="color:lightslategrey">Profile Visitors</h2>

        <div class="row">
            {{!-- MEMBER 1 --}}
            <div class="col-xs-4 p-2">
                <div class="card bg-light" style="text-align:center">
                    <img class="card-img-top" onclick="location.href='/member-details'"
                        style="border-radius: 20%; cursor: pointer;" src="images/profile-1.png" alt="">
                    <p class="mb-0">12-06-2022 02:00 PM</p>
                    <p style="color:blue">Liked You</p>
                </div>
            </div>
            <div class="col-xs-4 p-2">
                <div class="card bg-light" style="text-align:center">
                    <img class="card-img-top" onclick="location.href='/member-details'"
                        style="border-radius: 20%; cursor: pointer;" src="images/profile-1.png" alt="">
                    <p class="mb-0">12-06-2022 02:00 PM</p>
                </div>
            </div>
            <div class="col-xs-4 p-2">
                <div class="card bg-light" style="text-align:center">
                    <img class="card-img-top" onclick="location.href='/member-details'"
                        style="border-radius: 20%; cursor: pointer;" src="images/profile-1.png" alt="">
                    <p class="mb-0">12-06-2022 02:00 PM</p>
                    <p style="color:blue">Liked You</p>
                </div>
            </div>
            <div class="col-xs-4 p-2">
                <div class="card bg-light" style="text-align:center">
                    <img class="card-img-top" onclick="location.href='/member-details'"
                        style="border-radius: 20%; cursor: pointer;" src="images/profile-1.png" alt="">
                    <p class="mb-0">12-06-2022 02:00 PM</p>
                </div>
            </div>
            <div class="col-xs-4 p-2">
                <div class="card bg-light" style="text-align:center">
                    <img class="card-img-top" onclick="location.href='/member-details'"
                        style="border-radius: 20%; cursor: pointer;" src="images/profile-1.png" alt="">
                    <p class="mb-0">12-06-2022 02:00 PM</p>
                </div>
            </div>



        </div>
    </div>

    </div>
    </div>


</section>