<section class="bg-light">
    <div class="card-body">
        
<br>
<br>
<br>
<br>
<br>


<i class="material-icons " style="font-size:10rem;color:green;padding-left:">verified</i>
<h1 class="">Successfully Requested to Join</h1>

    </div>
</section>