
 
<section class="pt-0 bg-light" id="main">
    <div class="container">
        <div class="row">
            {{!-- {{#each products}} --}}

            <div class="col-lg-3 col-md-4 col-xs-6 p-2">
                <div class="card" >
                    <img class="card-img-top "  src="images/Dinner at Burj top.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title m-0">Dinner At Burj</h5>
                        <p class="card-text">Location : UAE <br>
                            From : 07/July/2022 <br>
                            Hosted by : Chalse<br>
                            Verified Member ^ </p>
                        <a href="/breakdetails" class="btn btn-outline-info d-flex">Join the Break</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 p-2">
                <div class="card" >
                    <img class="card-img-top" src="images/Beech Party.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title m-0">Beech Party</h5>
                        <p class="card-text">Location : UAE <br>
                            From : 07/July/2022 <br>
                            Hosted by : Paul Smith<br>
                            Verified Member ^ </p>
                        <a href="/breakdetails" class="btn btn-outline-info d-flex">Join the Break</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 p-2">
                <div class="card" >
                    <img class="card-img-top" src="images/yacht party.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title m-0">Yacht Party</h5>
                        <p class="card-text">Location : UAE <br>
                            From : 07/July/2022 <br>
                            Hosted by : Ayesha <span class="badge badge-success"
                                id="cart-count">online</span><br>
                            Verified Member ^ </p>
                        <a href="/breakdetails" class="btn btn-outline-info d-flex">Join the Break</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 p-2">
                <div class="card" >
                    <img class="card-img-top" src="images/desert camp.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title m-0">Desert Camp</h5>
                        <p class="card-text">Location : UAE <br>
                            From : 07/July/2022 <br>
                            Hosted by : Zara Kuryan<br>
                            Verified Member ^ </p>
                        <a href="/breakdetails" class="btn btn-outline-info d-flex">Join the Break</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 p-2">
                <div class="card" >
                    <img class="card-img-top" src="images/Dinner at Burj top.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title m-0">Dinner At Burj</h5>
                        <p class="card-text">Location : UAE <br>
                            From : 07/July/2022 <br>
                            Hosted by : Chalse<br>
                            Verified Member ^ </p>
                        <a href="/breakdetails" class="btn btn-outline-info d-flex">Join the Break</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 p-2">
                <div class="card" >
                    <img class="card-img-top" src="images/Beech Party.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title m-0">Beech Party</h5>
                        <p class="card-text">Location : UAE <br>
                            From : 07/July/2022 <br>
                            Hosted by : Paul Smith<br>
                            Verified Member ^ </p>
                        <a href="/breakdetails" class="btn btn-outline-info d-flex">Join the Break</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 p-2">
                <div class="card" >
                    <img class="card-img-top" src="images/yacht party.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title m-0">Yacht Party</h5>
                        <p class="card-text">Location : UAE <br>
                            From : 07/July/2022 <br>
                            Hosted by : Ayesha <br>
                            Verified Member ^ </p>
                        <a href="/breakdetails" class="btn btn-outline-info d-flex">Join the Break</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 p-2">
                <div class="card" >
                    <img class="card-img-top" src="images/desert camp.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title m-0">Desert Camp</h5>
                        <p class="card-text">Location : UAE <br>
                            From : 07/July/2022 <br>
                            Hosted by : Zara Kuryan<br>
                            Verified Member ^ </p>
                        <a href="/breakdetails" class="btn btn-outline-info d-flex">Join the Break</a>
                    </div>
                </div>
            </div>




            {{!-- {{/each}} --}}
        </div>
    </div>
</section>
{{!-- 
<section class="bg-light">
    <h1><br><br><br><br><br>--------</h1>
</section>

<section style="background-color:#0A3150">
    <h1>aaaaaaaaaa</h1>
</section>
<section style="background-color:#C52F21">
    <h1>bbbbbbbbbb</h1>
</section>
<section style="background-color:#BABCB7 ">
    <h1>cccccc This or</h1>
</section>
<section style="background-color:#2D79B3">
    <h1>ccccccc This</h1>
</section>
<section style="background-color:#D31E3D">
    <h1>dddddddd</h1>
</section>
<section style="background-color:">
    <h1>eeeeeee</h1>
</section> --}}
